<footer class="site-footer">
    {{!--<div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-sm-4">
                    <div class="widget">
                        <h4 class="widget-title h6">Recent Post</h4>
                        <div class="content recent-post">

                            <div class="recent-single-post clearfix have-image">
                                <a href="/post">
                                    <div class="post-thumb pull-left" style="background-image: url(http://polar.gbjsolution.com/content/images/2017/05/fishing-with-dog.jpg);"></div>
                                </a>
                                <div class="post-info">
                                    <h4 class="post-title">
                                        <a href="/post">I like fishing because it is always the great way of relaxing</a>
                                    </h4>
                                    <div class="date">
                                        <a href="/post">May 14,2017</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="widget">
                        <h4 class="widget-title h6">Tags</h4>
                        <div class="content tagcloud">
                            <a href="/tag/adventure">Adventure</a>
                            <a href="/tag/adventure">Adventure</a>
                            <a href="/tag/adventure">Adventure</a>
                            <a href="/tag/adventure">Adventure</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="widget">
                        <h4 class="widget-title h6">Text widget</h4>
                        <div class="content about">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea tempora aliquid esse sequi nesciunt, fuga ipsam itaque est praesentium, magni aut reiciendis minima suscipit doloribus? Fuga architecto illum tempora distinctio?</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, dolor inventore distinctio quaerat quasi laudantium ea aliquid nam, ratione neque porro repellendus totam qui! Praesentium porro eveniet, tenetur soluta voluptates.</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>--}}
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-wrap clearfix">
                <div class="social-links-wrap">
                    <ul class="social-links">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href="/rss"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </div>
                <div class="copyright-info">
                    © {{date format="YYYY"}}. All right Reserved.
                </div>
            </div>
        </div>
    </div>
</footer>