<div class="subscribe-box-wrap">
<div class="subscribe">
	<h3 class="subscribe-title align-center">Subscribe to {{@blog.title}}</h3>
	<p class="align-center">Get the latest posts delivered right to your inbox.</p>
	<form method="post" action="/subscribe/" class="sign-up-form">
        <input class="confirm" type="hidden" name="confirm"><input class="location" type="hidden" name="location">
        <input class="referrer" type="hidden" name="referrer" value="{{@blog.url}}">
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Enter your email...">
        </div>
        <button class="btn btn-primary" type="submit">Subscribe</button>
        <script type="text/javascript">(function(g,h,o,s,t){h[o]('.location')[s]=h[o]('.location')[s] || g.location.href;h[o]('.referrer')[s]=h[o]('.referrer')[s] || h.referrer;})(window,document,'querySelector','value');</script>
    </form>
	<div class="subscribe-rss align-center">or subscribe via <a href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/">Rss Feed</a></div>
</div>
</div>