@import "./iceberg.scss";

header {
  background-color: var(--color-bg-secondary);
}
.page-header {
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}

@view-transition {
  navigation: auto;
}
