{{!< default}}
<div class="content-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="error-wrap align-center">
					<h1 class="error-code">404</h1>
					<h3 class="error-message">Page not found</h3>
					<p class="message-manual">Unfortunately the page you were looking for could not be found.</p>
					<a href="{{@blog.url}}" class="btn btn-primary">Visit Home page</a>
				</div>
			</div>
		</div>
	</div>
</div>