.social {
  color: var(--textTitle);
  text-decoration: none;
  box-shadow: none;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social:hover {
  color: var(--voilet);
  box-shadow: 0 1px 0 0 currentColor;
}
